<form local-class="contact-form" data-test-display="contact-form" {{on "submit" this.submitContact}}>
  <fieldset disabled={{@isSubmitted}}>
    <div class="field">
      <label for="contact-name" class="label">Name</label>
      <div class="control">
        <Input id="contact-name" class="input" @type="text" @placeholder="Name" @value={{this.name}} data-test-input="name" />
      </div>
    </div>

    <div class="field">
      <label for="contact-email" class="label">Email</label>
      <div class="control has-icons-left">
        <Input id="contact-email" class="input" @type="email" @placeholder="Email" @value={{this.email}} data-test-input="email" />
        <span class="icon is-small is-left">
          <FaIcon @prefix="fas" @icon="envelope" />
        </span>
      </div>
    </div>

    <div class="field">
      <label for="contact-message" class="label">Message</label>
      <div class="control">
        <Textarea id="contact-message" class="textarea" @placeholder="Please include a note" @value={{this.message}} data-test-input="message"></Textarea>
      </div>
    </div>

    <div class="field is-grouped has-text-centered">
      <div local-class="submit-control">
        <div class="level-left">
          <button type="submit" local-class="submit-button {{if @isSubmitted 'submitted'}} {{unless this.formValid "disabled"}}" disabled={{not this.formValid}} data-test-action="submit-contact">
            <span class="icon">
              <FaIcon prefix="fas" @icon="envelope" />
            </span>
            <span>Submit</span>
          </button>
        </div>
        <div class="level-right">
          {{#if @isSubmitted}}
            <div local-class="success-message" data-test-display="success-message">
              Thanks for getting in touch!
            </div>
          {{/if}}
        </div>
      </div>
    </div>

  </fieldset>
</form>
